@import "../../_variables.scss";

/*CARD*/
.card {
  font-size: $body-font-size-5;
  padding:1.2rem;
  margin-bottom: 2rem;
  height: 21.8rem;
  border-radius: 0rem;
  overflow: hidden;
  position: relative;

  .card__cover {
    position: absolute;
    background-color: $white;
    width: 100%;
    height: 1.2rem;
    bottom: 0;
    left: 0rem;
    z-index: 2;
  }
  &:hover {
    .card__text-wrapper {
      top: -3.8rem;
    }
    .card__img-wrapper {
      .card__img--icon {
        bottom: 2.5rem;
      }
    }
  }
  .card__img-wrapper {
    position: relative;
    height: 13rem;

    .card__img--profile-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .card__img--icon {
      position: absolute;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      bottom: -1.3rem;
      left: .3rem;
      z-index: 2;
      -webkit-transition: all .3s ease-out;
      -moz-transition: all .3s ease-out;
      -o-transition: all .3s ease-out;
      transition: all .3s ease-out;
    }
  }
  .card__text-wrapper {
    position: relative;
    top: 0px;
    background: $white;
    padding-top: 1rem;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;

    .card__text-container--top {
      padding-top: 1rem;

      .card__name {
        font-size: $header-font-size-5;
        margin-bottom: .2rem;
      }
    }
    .card__text-container--bottom {
      height: 3rem;
      overflow: hidden;
      margin-top: 1rem;
    }
    .card__sub-text-container {
      color: $gray-text;
      font-size: $body-font-size-5;

      p {
        display: inline-block;
        margin-right: .2rem;
        margin-bottom: 0rem;
      }
    }
  }

}