@import "../_variables.scss";

/*CARD*/
.card {
  font-size: 1rem;
  padding:1.2rem;
  margin-bottom: 2rem;

  &:hover {
    .card__text-container--bottom {
      height: 3rem;
    }
  }
  .card__img-wrapper {
    position: relative;
    background-color: red;
    margin-bottom: 2rem;

    .card__img--profile-image {
      width: 100%;
    }
    .card__img--icon {
      position: absolute;
      width: 3rem;
      height: 3rem;
      background-color: blue;
      border-radius: 50%;
      bottom: -1.3rem;
      left: .3rem;
    }
  }
  
  .card__text-container--top {
    margin-bottom: 1rem;

    .card__name {
      font-size: 1.3rem;
      margin-bottom: .2rem;
    }
  }
  .card__text-container--bottom {
    height: 0rem;
    overflow: hidden;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
  }
  .card__sub-text-container {
    color: $gray-text;
    font-size: .9rem;

    p {
      display: inline-block;
      margin-right: .2rem;
      margin-bottom: 0rem;
    }
  }

}