@import "../_variables.scss";


/*GENERAL*/
html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $off-white;
  color: $black;
  font-size: $body-font-size-5;
}

code {
  font-family: $font-code;
}
