/*VARIABLES*/


/* COLORS */
$white: #fff;
$off-white: #f2f1f2;
$black: #111111c9;
$gray-text: rgba(17, 17, 17, .5);
$light-gray-text-2: #1111114a;
$light-gray-text-5: #11111154; 
$gray-background: #edecec70;
$light-box-shadow: rgba(10, 10, 10, 0.1);


/*FONT SIZES*/
$body-font-size-5: .9rem;
$header-font-size-5: 1.3rem;


/*SHADOWS*/
$shadow: 0px 2px 3px 0px $light-box-shadow;